# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
backend.hcl
backend.tf
terraform.tfstate
terraform.tfstate.backup

# OS / editor
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
